@import "../../src/style/include/mixins.scss";
//@font-face {
//	font-family: 'Geometria';
//	src: url('../fonts/Geometria.otf');
//	font-weight: normal;
//	font-style: normal;
//}
@font-face {
	font-family: "Geometria";
	src: url('fonts/heavy/geometria-heavy-webfont.eot');
	src: url('fonts/heavy/geometria-heavy-webfont.ttf'),
	url('fonts/heavy/geometria-heavy-webfont.woff') format('woff'),
	url('fonts/heavy/geometria-heavy-webfont.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url('fonts/bold/geometria-bold-webfont.ttf'),
	url('fonts/bold/geometria-bold-webfont.woff') format('woff'),
	url('fonts/bold/geometria-bold-webfont.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url('fonts/medium/geometria-medium-webfont.eot');
	src: url('fonts/medium/geometria-medium-webfont.ttf'),
	url('fonts/medium/geometria-medium-webfont.woff') format('woff'),
	url('fonts/medium/geometria-medium-webfont.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url('fonts/webfont/geometria-webfont.eot');
	src: url('fonts/webfont/geometria-webfont.ttf'),
	url('fonts/webfont/geometria-webfont.woff') format('woff'),
	url('fonts/webfont/geometria-webfont.woff2') format('woff2'),
	url('fonts/webfont/geometria-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url('fonts/light/geometria-light-webfont.eot');
	src: url('fonts/light/geometria-light-webfont.ttf'),
	url('fonts/light/geometria-light-webfont.woff') format('woff'),
	url('fonts/light/geometria-light-webfont.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Geometria";
	src: url('fonts/lightItalic/geometrialightitalic-webfont.eot');
	src: url('fonts/lightItalic/geometrialightitalic-webfont.ttf'),
	url('fonts/lightItalic/geometrialightitalic-webfont.woff') format('woff'),
	url('fonts/lightItalic/geometrialightitalic-webfont.svg') format('svg');
	font-weight: 100;
	font-style: italic;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Geometria', sans-serif;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	height: auto;
}
/****************************************************/
/*		 MAIN STYLES *** START *** 		*/
/****************************************************/
body {
	font-size: 10px;
	font-family: 'Geometria', sans-serif;
	overflow-x: hidden;
	overflow-y: visible;
}
.svg svg {
	width: 100%;
	height: 100%;
}

.section {
	position: relative;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	z-index: 2;
	//padding: 0 toem(28px);
	max-width: 1200px;
	h2 {
		$f: 60px;
		font-size: toem(60);
		font-weight: 400;
		line-height: toem(72, $f);
		padding: 0 toem(24,$f);
		span {
			font-weight: 900;
		}
	}
}
.consult {
	$f: 16px;
	position: relative;
	display: inline-flex;
	align-items: stretch;
	justify-content: flex-start;
	&--left {
		font-size: toem($f);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: toem(40, $f) 0 0 toem(40, $f);
		background: #3eaa8a;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		z-index: 5;
		padding: toem(32, $f) toem(22);
	}
	&--right {
		//max-width: toem(100);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 toem(40, $f) toem(40, $f) 0;
		background: #2f997a;
		cursor: pointer;
		font-size: toem($f);
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		z-index: 5;
		padding: toem(32, $f) toem(12);
		.svg {
			margin: 0 0 0 toem(7, $f);
			width: toem(14, $f);
			height: toem(8, $f);
			fill: none;
			stroke: #fff;
			stroke-width: toem(3, $f);
			fill-rule: evenodd;
		}
	}
	&--send-cv {
		position: absolute;
		top: toem(44, $f);
		left: 0;
		width: 100%;
		height: toem(120, $f);
		display: none;
		text-align: center;
		padding: toem(70, $f) 0 0 0;
		border-radius: 0 0 toem(40, $f) toem(40, $f);
		background: #2f997a;
		cursor: pointer;
		font-size: toem($f);
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		z-index: 2;
	}
}

.header {
	background: #000 url(images/header-bg3.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	&__triangle{
		&-left {
			width: 37.8%;
			height: 100%;
			position: absolute;
			bottom: 0;
			right: 62.2%;

			&:before {
				content: '';
				width: 2000%;
				height: 100%;
				background: #fff;
				opacity: 0.6;
				position: absolute;
				transform-origin: top right;
				transform: skew(32deg);
				top: 0;
				right: 0;
			}
		}
		&-right {
			width: 62.2%;
			//height: 10000px;
			height: 200%;
			position: absolute;
			top: 0;
			left: 37.8%;
			z-index: 1;

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background: #202e79;
				opacity: 0.9;
				position: absolute;
				transform-origin: top left;
				transform: skew(32deg);
				top: 0;
				left: 0;
			}
		}
	}

	&__top {
		position: relative;
		border-bottom: toem(1px) solid #d7d7d7;
		&__container {
			position: relative;
			margin: 0 auto;
			display: flex;
			align-items: center;
			width: 100%;
			min-height: toem(100px);
			z-index: 2;
			&__left {
				width: 40%;
				&--image {
					width: toem(144px);
					height: toem(44px);
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}
				svg {
					fill: #ff0;
				}
			}
			&__right {
				position: relative;
				padding: 0 toem(14px);
				width: 60%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				&__phone {
					width: 70%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					&--item {
						margin-left: auto;
						margin-right: auto;
						a {
							$f: 22;
							font-size: toem($f);
							color: #fff;
							text-decoration: none;
							font-weight: 900;
							display: block;
							letter-spacing: toem(1px);
							span {
								margin-right: toem(6px);
								font-weight: normal;
							}
						}
					}
				}
				&__call-back {
					a {
						$f: 20px;
						font-size: toem($f);
						color: #fff;
						text-decoration: underline;
						font-weight: bold;
						display: block;
					}
				}
			}
		}
	}
	&__bottom {
		margin: toem(70px) 0 0 0;
		padding: 0 0 toem(240px) 0;
		&__container {
			position: relative;
			margin: 0 auto;
			display: flex;
			align-items: stretch;
			justify-content: flex-start;
			width: 100%;
			z-index: 2;
			padding: 0 toem(14px);
			//****************************************
			// Header Bottom Left side --- START ---
			//****************************************
			&__left {
				width: 50%;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;
				flex-wrap: wrap;
				h1 {
					$f: 72px;
					font-size: toem($f);
					margin: 0;
					padding: 0;
					color: #202e79;
					text-transform: uppercase;
					font-weight: 900;
					line-height: 1.2;
				}
				p {
					$f: 30px;
					font-size: toem($f);
					padding: 0;
					margin: toem(66,$f) 0 0 0;
					letter-spacing: toem(1,$f);
					line-height: toem(34,$f);
				}
				&__consult {
					$f: 16px;
					margin: toem(120px) 0 0 0;
					position: relative;
					display: flex;
					align-items: stretch;
					justify-content: space-between;
					height: toem(80px);
					&--left {
						font-size: toem($f);
						display: flex;
						align-items: center;
						justify-content: center;
						width: toem(300, $f);
						//height: toem(80px);
						border-radius: toem(40, $f) 0 0 toem(40, $f);
						background: #3eaa8a;
						color: #fff;
						font-weight: 700;
						text-transform: uppercase;
						text-decoration: none;
						z-index: 5;
					}
					&--right {
						width: toem(100, $f);
						//height: toem(80px);
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 0 toem(40, $f) toem(40, $f) 0;
						background: #2f997a;
						cursor: pointer;
						font-size: toem($f);
						color: #fff;
						font-weight: 700;
						text-transform: uppercase;
						z-index: 5;
						.svg {
							margin: 0 0 0 toem(7, $f);
							width: toem(14, $f);
							height: toem(8, $f);
							fill: none;
							stroke: #fff;
							stroke-width: toem(3, $f);
							fill-rule: evenodd;
						}
					}
					&--send-cv {

						position: absolute;
						top: toem(44, $f);
						left: 0;
						width: 100%;
						height: toem(120, $f);
						display: none;
						text-align: center;
						padding: toem(70, $f) 0 0 0;
						border-radius: 0 0 toem(40, $f) toem(40, $f);
						background: #2f997a;
						cursor: pointer;
						font-size: toem($f);
						color: #fff;
						font-weight: 700;
						text-transform: uppercase;
						text-decoration: none;
						z-index: 2;
					}
				}
			}
			//****************************************
			// Header Bottom Left side --- END ---
			//****************************************

			//****************************************
			// Header Bottom Right side --- START ---
			//****************************************
			&__right {
				width: 50%;
				padding: 0 toem(15px);
				display: flex;
				align-items: stretch;
				justify-content: flex-start;
				&__about{
					width: 100%;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					flex-direction: column;
					&__item{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						&--left{
							$f: 20px;
							font-size: toem($f);
							color: #fff;
							font-weight: 700;
							text-transform: uppercase;
							display: flex;
							align-items: flex-start;
							justify-content: flex-start;
							flex-direction: column;
							cursor: pointer;
							span {
								$ff: 14px;
								font-size: toem($ff,$f);
								color: #fff;
								opacity: 0.9;
								font-weight: normal;
								text-transform: none;
							}
						}
						&--right {
							$f: 16px;
							&:before {
								content: ' ';
								border: toem(14,$f) solid transparent;
								border-right: toem(14,$f) solid #fff;
								left: toem(-28,$f);
								top: 50%;
								transform: translateY(-50%);
								position: absolute;
								display: block;
							}
							font-size: toem($f);
							font-weight: 700;
							text-transform: uppercase;
							padding: toem(16,$f) toem(25,$f);
							color: #202e79;
							background: #fff;
							border-radius: toem(4,$f);
							margin: 0 0 0 toem(34,$f);
							//position: absolute;
							position: relative;
							opacity: 0;
							transition: 0.2s;
							//min-width: toem(234,$f);

							&.active {
								opacity: 1;
							}
						}
						&.item{
							&-1 {
								padding: 0 0 0 0;
								opacity: 1;
							}
							&-2 {
								padding: 0 0 0 toem(85px);
							}
							&-3 {
								padding: 0 0 0 toem(200px);
							}
							&-4 {
								padding: 0 0 0 toem(285px);
							}
						}
					}

				}
			}
			//****************************************
			// Header Bottom Right side --- END ---
			//****************************************
		}

	}
}

.professions {
	padding: toem(80) 0;
	h2 {
		span {
		}
	}
	p {
		$f: 30px;
		margin: toem(10) 0 0 0;
		font-size: toem(30);
		font-weight: normal;
		max-width: 60%;
		padding: 0 toem(24,$f);
	}
	#professions-list {
		max-width: 59%;
		margin: toem(90) 0 0 toem(28);
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		border: toem(2) solid #f3f3f3;
		padding: toem(30) toem(20);
		column-count: 3;

		li {
			$f: 14px;
			font-size: toem($f);
			font-weight: 600;
			width: 24.5%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			span {
				&:hover,&.active {
					background: #202e79;
					color: #fff;
				}
				width: 100%;
				color: #000;
				padding: 6px 8px;
				margin: 0 0 4px 0;
				border-radius: 4px;
				cursor: pointer;
				transition: 0.2s;
			}
		}
	}
	&__salary {
		$f: 24px;
		font-size: toem($f);
		font-weight: 900;
		margin: toem(30) 0 0 0;
		padding: 0 0 0 toem(56,$f);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: #464646;
		&__selected{
			&--prof {
				color: #202e79;
				margin-right: 4px;
				&:first-letter {
					text-transform: uppercase;
				}
				//text-transform: capitalize;
			}
			&--sal {
				margin-left: 4px;
			}
		}

	}
	.consult {
		margin: toem(50) 0 0 toem(28);
	}
	.notation__text {
		$f: 18px;
		margin: toem(20px) 0 0 toem(52px);
		padding: 0 0 0 toem(28);
		span {
			font-size: $f;
			font-weight: 500;
		}
	}
	.employees {
		width: 100%;
		max-width: 624px;
		position: absolute;
		left: 50%;
		margin: 0 0 0 136px;
		bottom: 0;
		z-index: 2;
		&__junior {
			position: absolute;
			max-width: 229px;
			max-height: 614px;
			width: 100%;
			height: auto;
			bottom: 0;
			right: 2%;
			img{
				bottom: 0;
			}
		}
		&__man {
			position: absolute;
			max-width: 481px;
			max-height: 584px;
			width: 100%;
			bottom: 0;
			right: 4.5%;
			img{
				bottom: 0;
			}
		}
		&__woman {
			position: absolute;
			max-width: 229px;
			max-height: 521px;
			width: 100%;
			height: auto;
			bottom: 0;
			img{

				bottom: 0;
			}
		}
	}
}

.advantages {
	padding: toem(85) 0 toem(170) 0;
	overflow: hidden;
	&:before{
		content: '';
		width: 2000%;
		height: 100%;
		background: #000;
		opacity: 0.9;
		position: absolute;
		left: 0;
		top: 0;
	}
	&__line__one {
		position: absolute;
		left: 82%;
		bottom: 0;
		height: 120%;
		transform: rotateZ(-32deg);
		transform-origin: bottom;
		&--inner {
			width: auto;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			border-right: 2px solid;
			border-image: linear-gradient(to top,  #7e888c, #1a2638) 1 100%;
		}
	}
	&__line__two {
		position: absolute;
		right: 0;
		bottom: 46%;
		height: 165%;
		transform: rotateZ(-108deg);
		transform-origin: bottom right;
		&--inner {
			content: '';
			width: auto;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			border-right: 2px solid;
			border-image: linear-gradient(to top,  #7e888c, #1a2638) 1 100%;
		}
	}

	background: #000 url(images/section-adventage-bg.jpg) no-repeat center center;
	background-size: cover;
	h2 {
		color: #fff;
		span {
			color: #fff;
		}
	}
	&__wrap {
		$f: 20px;
		width: 100%;
		max-width: toem(790);
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: toem(110) 0 0 0;
		&__item {
			width: 50%;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			padding: toem(14,$f) 0 toem(68) toem(40,$f);
			&--image {
				fill: #fff;
				max-width: toem(70);
				max-height: toem(70);
				width: 100%;
				height: auto;
				margin: 0 toem(34) 0 0;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
			}
			&--text {
				font-size: $f;
				font-weight: 400;
				color: #fff;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
	}
}

.conditions {
	padding: toem(130) 0 toem(146);
	h2 {
		color: #000;
	}
	&__text {
		$f:20px;
		font-size: $f;
		font-weight: 400;
		margin: toem(22) 0 0 0;
		padding: 0 toem(24,$f);
		color: #000;
	}
	&__wrap {
		$f: 20px;
		width: 100%;
		max-width: toem(1000);
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: toem(88) 0 0 0;
		padding: 0 toem(24,$f) toem(76) toem(24,$f);
		&__left {
			width: 50%;
			max-width: toem(460);
			margin: 0 toem(66) 0 0;
			padding: 0 toem(24,$f);
		}
		&__right {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			&--title {
				font-size: $f;
				font-weight: 700;
				margin: 0 0 toem(22) 0;
				padding: 0 toem(2);
			}
			&__item {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 0 0 toem(26) 0;
				flex-direction: row;
				&--image {
					max-width: toem(70);
					height: auto;
					margin: 0 toem(40) 0 0;
				}
				&--text {
					font-size: $f;
					font-weight: 400;
					color: #000;
					line-height: toem(24, $f);
				}
			}
		}
	}
	.consult {
		margin: 0 0 0 toem(24);
	}
}

.privilege {
	padding: toem(86) 0 toem(384) 0;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: toem(540);
		background: #000 url(images/privilege-bg2.jpg) no-repeat center center;
		background-size: cover;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	&:after{
		content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #07181f, #07181f 75%, transparent);
		position: absolute;
		left: 0;
		top: 0;
	}
	h2 {
		color: #fff;
	}
	&__text {
		$f: 30px;
		font-size: $f;
		font-weight: 400;
		color: #fff;
		padding: 0 toem(24,$f);
		margin: toem(11) 0 0 0;
		line-height: toem(36, $f);
	}
	&__wrap {
		$f: 20px;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: toem(90) 0 0 0;
		&__item {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin: 0 0 toem(24) 0;
			padding: 0 0 0 toem(24);
			&__image {
				width: 100%;
				max-width: 170px;
				max-height: 160px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 toem(26) 0 0;
				&--inner {
					fill: #fff;
					width: 100%;
					max-width: toem(102);
					height: auto;
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
				}
			}
			&--text {
				font-size: $f;
				font-weight: 400;
				color: #fff;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
	}
}

.reviews {
	padding: toem(167) 0 0 0;
	background: #2b334b;
	&__line__two {
		position: absolute;
		right: 0;
		bottom: 28%;
		height: 100%;
		transform: rotateZ(-32deg);
		transform-origin: bottom right;
		&--inner {
			content: '';
			width: auto;
			height: 200%;
			position: absolute;
			left: 0;
			top: 0;
			border-right: 2px solid;
			border-image: linear-gradient(to top,rgba(126, 136, 140, 1), rgba(126, 136, 140, 0.1)) 1 200%;
		}
	}
	h2 {
		color: #fff;
		span {
			color: #fff;
		}
	}
	.reviews__video {
		padding: 0 0 0 toem(14);
		&:after {
			content: '';
			clear: both;
			display: table;
		}
		margin: toem(80) 0 0 0;
		&__item {
			$f: 20px;
			max-width: toem(400);
			width: 33.333%;
			float: left;
			padding: 0 toem(12, $f);
			margin: 0 0 toem(30, $f) 0;
			font-size: $f;
			color: #fff;
			font-weight: 400;
			line-height: toem(26,$f);
			&--name {
			}
			&--city {
			}
			&--content {
				&:after {
					content: '';
					width: toem(80, $f);
					height: toem(54, $f);
					position: absolute;
					top: 50%;
					left: 50%;
					transform-origin: top left;
					transform: translate(-50%,-50%);
					background: transparent url(images/youtube-play.png) no-repeat center center;
					background-size: cover;
					cursor: pointer;
					z-index: 1;
					transition: 0.3s;
				}
				&:hover{
					&:after {
						transform: scale(0.9) translate(-50%,-50%);
					}
				}
				position: relative;
				height: toem(260, $f);
				margin: toem(14) 0 0 0;
				display: block;
			}
			&--description {
				margin: toem(12) 0 0 0;
				line-height: toem(30,$f);
			}
			&--time {
				font-size: toem(16,$f);
				font-weight: 500;
				color: #6b7181;
				margin: toem(4) 0 0 0;
			}
		}
	}
	.show-more {
		$f: 20px;
		font-size: $f;
		font-weight: 500;
		padding: toem(18) 0;
		border: none;
		border-top: toem(1) solid #555c6f;
		color: #6b7181;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: toem(16, $f);
		z-index: 2;
		position: relative;
		text-decoration: none;
		&--arrow {
			margin: 0 0 0 toem(32, $f);
			max-width: toem(30,$f);
			max-height: toem(12,$f);
			fill: none;
			stroke: #555c6f;
			stroke-linecap: round;
			stroke-width: 3px;
			fill-rule: evenodd;
		}
	}
}
.questions {
	padding: toem(90) 0 toem(100) 0;
	background: #d62f27;
	h2 {
		color: #fff;
		span {
			color: #fff;
		}
	}
	&__wrap {
		$f: 20px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0 toem(14);
		margin: toem(46) 0 0 0;
		&__link {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			width: 50%;
			padding: 0 toem(14, $f);
			li {
				&:hover {
					border: toem(1) solid #e94c45;
				}
				min-width: 80%;
				font-size: $f;
				font-weight: 500;
				line-height: toem(24, $f);
				color: #fff;
				padding: toem(18, $f) toem(30 , $f);
				margin: toem(2) 0 0 0;
				border: toem(1) solid transparent;
				border-radius: toem(4);
				transition: 0.2s;
				cursor: pointer;
			}
			.js-active {
				background: rgba(233, 76, 69, 0.9);
			}
		}
		&__content {
			font-size: $f;
			font-weight: 500;
			line-height: toem(24, $f);
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			width: 50%;
			padding: 0 toem(14, $f);
			li {
				width: 100%;
				color: #fff;
				border-radius: toem(4);
				background: rgba(233, 76, 69, 0.9);
				display: none;
				padding: toem(18, $f) toem(30 , $f);
				margin: 0 toem(30, $f);
				.form {
					width: 100%;
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: column;
					padding: toem(20, $f) toem(42, $f);
					$ff: 30px;
					&__title {
						width: 100%;
						font-size: $ff;
						text-transform: uppercase;
						line-height: toem(36, $ff);
						text-align: center;
						margin: 0 0 toem(4, $ff);
						&--small {
							width: 100%;
							font-size: $f;
							font-weight: 400;
							text-align: center;
							margin: 0 0 toem(22, $f);
						}
					}
					&--textarea {
						width: 100%;
						min-height: toem(150, $f);
						border: toem(3,$f) solid #f4a6a2;
						border-radius: toem(40, $f);
						background: transparent;
						color: #f4a6a2;
						font-size: $f;
						font-family: inherit;
						font-weight: 500;
						outline: none;
						line-height: toem(24, $f);
						resize: none;
						padding: toem(24,$f) toem(30, $f);
						margin: 0 0 toem(28, $f) 0;
						&::-webkit-input-placeholder {color:#f4a6a2;text-align: center; line-height: toem(24, $f);}
						&::-moz-placeholder          {color:#f4a6a2;text-align: center; line-height: toem(24, $f);}
						&:-moz-placeholder           {color:#f4a6a2;text-align: center; line-height: toem(24, $f);}
						&:-ms-input-placeholder      {color:#f4a6a2;text-align: center; line-height: toem(24, $f);}
						&::selection {
							background: #d62f27;
							color: #fff;
						}
					}
					&--phone {
						width: 100%;
						color:#f4a6a2;
						text-align: center;
						line-height: toem(24, $f);
						border: toem(3,$f) solid #f4a6a2;
						border-radius: toem(40, $f);
						background: transparent;
						font-size: $f;
						font-family: inherit;
						font-weight: 500;
						outline: none;
						padding: toem(24,$f) toem(30, $f);
						margin: 0 0 toem(28, $f) 0;
						&::-webkit-input-placeholder {color:#f4a6a2;text-align: center; line-height: toem(24, $f);}
						&::-moz-placeholder          {color:#f4a6a2;text-align: center; line-height: toem(24, $f);}
						&:-moz-placeholder           {color:#f4a6a2;text-align: center; line-height: toem(24, $f);}
						&:-ms-input-placeholder      {color:#f4a6a2;text-align: center; line-height: toem(24, $f);}
						&::selection {
							background: #d62f27;
							color: #fff;
						}
					}
					&--submit {
						width: 100%;
						text-align: center;
						line-height: toem(24, $f);
						border: toem(3,$f) solid transparent;
						border-radius: toem(40, $f);
						background:rgba(62, 170, 138, 0.9);
						font-size: $f;
						font-family: inherit;
						font-weight: 500;
						color: #fff;
						outline: none;
						padding: toem(24,$f) toem(30, $f);
						margin: 0 0 toem(28, $f) 0;
						cursor: pointer;
					}
				}
			}
			.js-active {
				display: block;
			}
		}
	}
}
.contacts {
	//padding: toem(94) 0 toem(600) 0;
	.wrapper {
		position: absolute;
		top: toem(94);
		left: 50%;
		transform: translateX(-50%);
	}
	&__map {
		height: toem(924);
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		#map {
			width: 100%;
			height: 100%;
		}
	}
	&__triangle {
		pointer-events: none;
		&-left {
			pointer-events: none;
			width: 100%;
			height: 80%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background: #d62f27;
				position: absolute;
				transform-origin: top left;
				transform: skewX(-70.4deg);
				top: 0;
				right: 0;
			}
		}
	}
	address {
		$f: 44px;
		font-size: $f;
		font-weight: 400;
		line-height: toem(56, $f);
		padding: 0 toem(22,$f);
		color: #fff;
		margin: 0 0 toem(8) 0;
		cursor: pointer;
		span {
			font-size: $f;
			font-weight: 900;
			color: #fff;
		}
	}
	&__text {
		$f: 20px;
		font-size: $f;
		font-weight: 400;
		color: #fff;
		line-height: toem(24, $f);
		padding: 0 toem(22,$f);
	}
}
.footer {
	&__content {
		&__left {

		}
		&__middle {

		}
	}
}

//@media (min-width: 1200px) {
//	body {
//		@include vwlp('padding-top', 200);
//	}
//}